<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="container">
   <section class="weather">
    <div class="card">
    <div class="card-body">
    <h2 class="card-title">Méteo actuelle à <%= city %></h2>

    <% if(logo !== null){ %>
        <img src="<%= logo %>
        <% } %>">

        <% if(error !== null){ %>
          <p class="card-text"><%= error %></p>
        <% } %>

    <% if(weather !== null){ %>
          <p class="card-text"><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p class="card-text"><%= error %></p>
        <% } %>
    <% if(temp !== null){ %>
        <p class="card-text"><%= temp %>°C</p>
        <% } %>

        <% if(error !== null){ %>
          <p class="card-text"><%= error %></p>
        <% } %>

        <% if(humidity !== null){ %>
          <p class="card-text">Humidité <%= humidity %>%</p>
        <% } %>

        <% if(error !== null){ %>
          <p class="card-text"><%= error %></p>
        <% } %>

         

    <a href="/" class="ghost-button">Nouvelle recherche</a>
  </div>
</div>
        
        </section>
        </div>
</body>